.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeParent{
    flex: 8;
    width: 30%;
    height: 100vmin;
    overflow: visible;
}   
.events,.interests{
    flex: 1.5;
    border-radius: 1vmin;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* border-bottom:0.3vmin solid black; */
    padding: 1vmin;
    margin-right: 2vmin;
    margin-left: 2vmin;
    align-self: flex-start;
    box-shadow: 0px 1px 14px -7px rgba(0,0,0,0.68);
-webkit-box-shadow: 0px 1px 14px -7px rgba(0,0,0,0.68);
-moz-box-shadow: 0px 1px 14px -7px rgba(0,0,0,0.68);
}
.indi-event{
    display: flex;
    /* border: 0.2vmin solid black; */
    border-radius: 0.5vmin;
    margin: 1vmin;
    padding: 1vmin;
    font-weight: 550;
    /* background-color: #F0F7E8; */
        /* box-shadow: 0vmin 0.5vmin 1vmin 0vmin rgb(31, 30, 30); */
        /* box-shadow: 0.5vmin 0.5vmin 1vmin 0vmin rgb(31, 30, 30); */

}
h1{
    margin: 1vmin;
}
.grandParent{
    margin-top: 12vmin;
    width: 90%;
    flex: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}