.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeParent{
    /* border: 0.2vmin solid black; */
    width: 50%;
    height: 100vmin;
    overflow: visible;
    margin: 12vmin;
}